<style>
  .card-standard {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    /*min-height: calc(85.60px * 4);*/
    /*min-width: calc(53.98px * 4);*/
    /*border-radius: 8px;*/
    /*border: 1px solid royalblue;*/

  }

  .card-standard-name {
    font-size: 32px;
    line-height: inherit;
  }
</style>
<div class="container-fluid">
  {{#each children as |group|}}
    <div class="panel panel-default">
      {{#if group.name}}
        <div class="panel-heading">
          <h1 class="panel-title" style="font-size: 24px;">{{group.name}}</h1>
        </div>
      {{/if}}
      <div class="panel-body row" style="padding-bottom: 0;">
        {{#each group.children as |item|}}
          {{#if item.name}}
            <div class="col-xs-4 col-md-2 text-center">
              {{#if item.path}}
                <a href="#{{@root.path}}{{group.path}}{{item.path}}">
                  <div class="card-standard" title="{{item.description}}">
                    {{#if item.img}}
                      <img data-echo="{{item.img}}"/>
                    {{/if}}
                    {{#unless item.img}}
                      <p class="card-standard-name">{{item.name}}</p>
                    {{/unless}}
                  </div>
                </a>
              {{/if}}
              {{#unless item.path}}
                <div class="card-standard" title="{{item.description}}">
                  {{#if item.img}}
                    <img data-echo="{{item.img}}"/>
                  {{/if}}
                  {{#unless item.img}}
                    <p class="card-standard-name">{{item.name}}</p>
                  {{/unless}}
                </div>
              {{/unless}}
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>
